@using Akalaat.DAL.Models
@model Akalaat.DAL.Models.City

@{
    ViewData["Title"] = "Details";
    var AllDistricts = (List<District>)ViewBag.Districts;
}

<h1>@Model.Name Details</h1>
<a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.Id" asp-controller="District">Add District</a>
<br /><br />

<form class="my-3" asp-action="Details" asp-controller="City" asp-route-id="@Model.Id">
	<div class="row">
		<div class="col-sm-8">
			<input placeholder="Search By District Name" name="DistrictName" class="form-control" />
		</div>
		<div class="col-sm-4">
			<input type="submit" value="Search" class="btn btn-success btn-block" />
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Districts in @Model.Name
			</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@if (AllDistricts.Count > 0)
		{
			@foreach (var item in AllDistricts)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td><a asp-action="Details" asp-controller="District" asp-route-id="@item.Id" class="btn btn-primary">Details</a></td>
					<td><a asp-action="Edit" asp-controller="District"  asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
					<td><a asp-action="Delete" asp-controller="District" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
				</tr>
			}
		}
		else
		{
			<h3>No Districts in @Model.Name yet</h3>
		}
	</tbody>
</table>

