@model List<Resturant>
@{
	ViewData["Title"] = "Home";
	var Dishes = (List<Dish>)ViewBag.allDishes;
	var Moods = (List<Mood>)ViewBag.allMoods;
	var Region = (Region)ViewBag.Region;
}


<main class="main">

	<div id="@ViewBag.RegionId"></div>
	<div class="page-header text-center mb-3" style="background-image: url('/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">
				(@Model.Count) Restaurants Found <span style="color: #E22207;">
					 @Region.District.City.Name / @Region.District.Name /@Region.Name 
				</span>
			</h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->


	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">


					<div class="toolbox">

						<div class="toolbox-left">
							<div class="toolbox-info" style="color: black;">
								Showing <span style="color: #E22207; font-weight:bold;">9 of 56</span>
								Restaurants
							</div><!-- End .toolbox-info -->
						</div><!-- End .toolbox-left -->
						<input type="search" id="search" placeholder="Search...">
					</div><!-- End .toolbox -->
					@if (Model.Count > 0)
					{
						@foreach (var item in Model)
						{
							<div class="products mb-3">
								<div class="row justify-content-center">

									<div class="col-6 col-md-4 col-lg-4">
										<div class="product product-7 text-center">
											<figure class="product-media">
												-->

												<a asp-action="IndexToCustomer" asp-controller="Item" asp-route-menuId="@item.Menu_ID">
													<img src="@item.Cover_URL" alt="Product image"
														 class="product-image">
												</a>

												<div class="product-action">
													<span class="btn-product">
														<span>
															Deliver Time:15
															mins
														</span>
													</span>
												</div><!-- End .product-action -->

											</figure><!-- End .product-media -->

											<div class="product-body">
												<div class="product-cat">
													<a href="#">Deliver time: </a>
												</div><!-- End .product-cat -->
												<h3 class="product-title">
													<a asp-action="ResturantDetails" asp-controller="Restaurant" asp-route-Id="@item.Id">@item.Name</a>
												</h3><!-- End .product-title -->
												<div class="product-price">
													EGP
												</div><!-- End .product-price -->

												<div class="product-price">
													@foreach (var i in @item.Dishes.Select(d => d.Name))
													{
														<span>i </span>
													}
												</div>

												<div class="ratings-container">
													<div class="ratings">
														<div class="ratings-val" style="width: 50%;"></div>
														<!-- End .ratings-val -->
													</div><!-- End .ratings -->
													<span class="ratings-text">( 2 Reviews )</span>
												</div><!-- End .rating-container -->
											</div><!-- End .product-body -->

										</div><!-- End .product -->
									</div><!-- End .col-sm-6 col-lg-4 -->

								</div><!-- End .row -->
							</div>

							<!-- End .products -->
						}
					}
					else
					{
						<h1>No Results Found</h1>
					}








					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
								   aria-disabled="true">
									<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
								</a>
							</li>
							<li class="page-item active" aria-current="page">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item-total">of 6</li>
							<li class="page-item">
								<a class="page-link page-link-next" href="#" aria-label="Next">
									Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
								</a>
							</li>
						</ul>
					</nav>
				</div><!-- End Navigation -->
				<!----------------- Side bar starts here -------------------->
				<aside class="col-lg-3 order-lg-first">
					<div class="sidebar sidebar-shop">

						<div class="widget widget-clean">
							<label>Filters:</label>
							<a href="#" class="sidebar-filter-clear" style="color: #E22207;">Clean All</a>
						</div><!-- End .widget widget-clean -->

						<div class="widget widget-collapsible">

							<div class="collapse show" id="widget-2">
								<div class="widget-body">
									<div class="filter-items">

										<div class="filter-item">
											<div class="custom-control custom-radio">
												<input  type="radio" class="sort custom-control-input" name="sort" id="rate">
												<label class="custom-control-label" for="rate">
													Rating
												</label>
											</div><!-- End .custom-radion -->
										</div>


										<div class="filter-item">
											<div class="custom-control custom-radio">
												<input type="radio" class="sort custom-control-input" name="sort" id="deliver">
												<label class="custom-control-label" for="deliver">
													Delivery Time
												</label>
											</div><!-- End .custom-radion -->
										</div>

										<!-- End .filter-item -->

									</div><!-- End .filter-items -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
						</div><!-- End .widget -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
								   aria-controls="widget-2">
									Moods:
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-2">
								<div class="widget-body">
									<div class="filter-items">
										@foreach(var mood in Moods)
										{
											<div class="filter-item">
												<div class="custom-control custom-radio">
													<input name="mood" type="radio" class="custom-control-input" id="@mood.Id">
													<label class="custom-control-label" for="size-1">@mood.Name</label>
												</div><!-- End .custom-checkbox -->
											</div>
											<!-- End .filter-item -->
										}
										


									</div><!-- End .filter-items -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->

						</div><!-- End .widget -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
								   aria-controls="widget-4">
									Dishes
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-4">
								<div class="widget-body">
									<div class="filter-items">

										<!-- End .filter-item -->
										@foreach (var dish in Dishes)
										{
											<div class="filter-item">
												<div class="custom-control custom-radio">
													<input name="dish" type="radio" class="dish custom-control-input" id="@dish.Id">
													<label class="custom-control-label" for="@dish.Id">@dish.Name</label>
												</div><!-- End .custom-checkbox -->
											</div>

											<!-- End .filter-item -->
											<!-- End .filter-item -->
										}

										@* id="brand-2" *@
									</div><!-- End .filter-items -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
						</div><!-- End .widget -->

					</div><!-- End .sidebar sidebar-shop -->
				</aside><!-- End .col-lg-3 -->
				<!----------------- Side bar Ends here -------------------->



			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		function makeAjaxRequest() {
			
			
			var dishId = $('input[name="dish"]:checked').attr('id');
			var moodId = $('input[name="mood"]:checked').attr('id');
			var sortValue = $('input[name="sort"]:checked').attr('id');

			console.log("Selected radio button ID: " + sortValue);

			var searchString = $('#search').val();
			console.log(searchString);
			var regionId = @ViewBag.RegionId;
			console.log("RegionId:", regionId);

			$('.products').empty();

			console.log({
				dish: dishId,
				mood:moodId,
				sort: sortValue,
				RestaurantName: searchString,
				RegionId: regionId
			});

			$.ajax({
				url: '@Url.Action("Index", "Restaurant")',
				method: 'GET',
				data: {
					dish: dishId,
					mood: moodId,
					sort: sortValue,
					RestaurantName: searchString,
					RegionId: regionId
				},
				success: function (response) {
 
				
					console.log('Success');
				},
				error: function (xhr, status, error) {

					console.error(error);
				}
			});
		}
		// Listen for "change" event on dish input field
		$('input[name="dish"]').on('change', function () {  //dish
			makeAjaxRequest();
		});
		$('input[name="mood"]').on('change', function () {  //dish
			makeAjaxRequest();
		});
		// Listen for "change" event on sort input field
		$('input[name="sort"]').on('change', function () {  //sort
			makeAjaxRequest();
		});
		// Listen for "change" event on restaurant input field
		$('#search').on('input', function () {
			makeAjaxRequest();
		});
	});
</script>