@model Akalaat.ViewModels.CategoryVM
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="modal-body">

        <input type="hidden" asp-for="@Model.Menu_ID" value="@Model.Menu_ID"/>
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control"/>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Description</label>
            <textarea asp-for="@Model.Description" class="form-control"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <img src="@Model.Category_image" alt="@Model.Name" style="max-width: 100px; max-height: 100px;"/>
        <div class="form-group">
            <label asp-for="@Model.Category_image" class="control-label">Category Image</label>
            <input type="file" asp-for="CategoryImageFile" class="form-control"/>
            <span asp-validation-for="CategoryImageFile" class="text-danger"></span>

        </div>

    </div>
    <div class="">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>