@model List<viewBranchVM>
@{
    ViewData["Title"] = "Index";
    var RestId = ViewBag.ResturantId;
}

<div class="text-center">
    <h1>All Branches</h1>
</div>

<br />
<a class="btn btn-primary" asp-controller="Branch" asp-route-Id="@RestId" asp-action="AddBranch">Add New Branch</a>

@foreach (var item in Model)
{
    <div class="container mt-4">
        <h2>@item.RegionName</h2>
        <h5 style="display:inline-block">@item.AddressDetails</h5>
        @if (@item.DeliveryState == Akalaat.Helper.DeliverToYou.Deliver)
        {
            <p style="color:green">Deliver to you</p>
        }
        else
        {
            <p style="color:red">Doesn't Deliver to you</p>
        }

        <h6>Working hours @item.OpenHour - @item.CloseHour</h6>

        <ul class="list-group">
            <h5>Delivery Areas</h5>
            @foreach (var area in item.DeliveringAreas)
            {
                <li class="list-group-item">@area</li>
            }
        </ul>
    </div>
    <a asp-action="GetBranchDeliveringArea" asp-route-Id="@item.Id" class="btn btn-primary">Branch Delivery Areas</a>
    <a asp-action="EditBranch" asp-route-Id="@item.Id" class="btn btn-warning">Edit Branch</a>
    <a asp-action="DeleteBranch" asp-route-Id="@item.Id" class="btn btn-danger">Delete Branch</a>

    <br />
    <br />
}
