@using Akalaat.DAL.Models
@model District

@{
	ViewData["Title"] = "Details";
	var AllRegions = (List<Region>)ViewBag.Regions;
}

<h1>@Model.Name Details</h1>
<a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.Id" asp-controller="Region">Add Region</a>

<form class="my-3" asp-action="Details" asp-controller="District" asp-route-id="@Model.Id">
	<div class="row">
		<div class="col-sm-8">
			<input placeholder="Search By Region Name" name="RegionName" class="form-control" />
		</div>
		<div class="col-sm-4">
			<input type="submit" value="Search" class="btn btn-success btn-block" />
		</div>
	</div>
</form>
<table class="table">
	<thead>
		<tr>
			<th>
				Regions in @Model.Name
			</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@if (AllRegions.Count() > 0)
		{
			@foreach (var item in AllRegions)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td><a asp-action="Edit" asp-controller="Region" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
					<td><a asp-action="Delete" asp-controller="Region" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
				</tr>
			}
		}
		else
		{
			<h3>No Regions in @Model.Name yet</h3>
		}
	</tbody>
</table>
